* {
    font-family: costa, sans-seri\f;
    font-size: 20px;
}

body {
    margin: 0;
}

#costaLogo {
    width: 200px;
}

/* HERO VIDEO */
.heroVideoBoxDiv {
    width: 100%;
    height: 100%;
    position: relative;

}

.heroVideoBox {
    position: absolute;
    z-index: -1;
}

/* TEXT */
h1 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

p {
   font-size: 18px;
}

.textColourCostaRed {
    color: rgb(109, 31, 55);
}

.textColourWhite {
    color: rgb(255, 255, 255);
}

/* BUTTON */
/* red */
.costaBTN {
    background-color: rgb(109, 31, 55);
    color: rgb(255, 255, 255);
    border-radius: 25px;
}

.btnFlash {
    color: rgb(193, 31, 69);
    
}

/* white */
.costaBTN2 {
    background-color: rgb(255, 255, 255);
    color: rgb(109, 31, 55);
    border-radius: 25px;
}

/* Hero */
/* heroUpperSection */
.heroUpperSection {
    width: 50%;
}

.heroUpperSection > button {
    width: auto;
}


/* FEATURES */
.firstFeatureImage {
    width: 320px;
    height: 240px;
    background-image: url(./assets/gif/costaSandwich.gif);
   
}

.secondFeatureImage {
    width: 320px;
    height: 240px;
    background-image: url(./assets/gif/costaDrinks.gif);
    
}

.thirdFeatureImage {
    width: 320px;
    height: 240px;
    background-image: url(./assets/gif/costaCake.gif);

}

/* FOOTER BACKGROUND */
.background {
    background-color: rgb(109, 31, 55);
}

.background1 {
    background-color: rgb(181, 17, 68);
}

/* WEBSITE RESPONSIVE SIZE */
@media (max-width:1240px) {
    #costaLogo {
        width: 90px;
    }
}

@media (max-width:760px) {
    .heroVideoBox > video {
        src: url(./assets/videos/CO89119_Yearly_Reunion_Social_Adapts_620_x_1126_V2.mp4);
    }
}
